





<!doctype html>
<html class="no-js" lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">   
    <meta name="description" content="시민 행복과 도시 발전을 선도하는 공기업 / 변화와 혁신으로 신뢰받는 으뜸 공기업">
    <title id="headTitle">광명도시공사</title>

        <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico"/>
    
        <!-- <link rel="stylesheet" type="text/css" href="/pub/dist/assets/css/app.css" /> -->
        
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	
	    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	    <!--
	        <script src="https://code.jquery.com/jquery-migrate-1.4.1.js"></script>
	    -->
	    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
	    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
	    <!-- was include/user/user/SubDeco.jsp -->
	    <script src="/js/app.js"></script> 
	    <script src="/js/refactoring.js"></script>
	    <script src="/js/gmuc.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js"></script>
	    
	    <!-- top 변경 -->
		<link rel="stylesheet" href="/css/common/reset.css">
		<link rel="stylesheet" href="/css/common/common.css">
		<link rel="stylesheet" href="/css/common/font.css">
		<link rel="shortcut icon" href="/images/user/common/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/user/component.css">
		<link rel="stylesheet" href="/css/user/layout.css">
		<link rel="stylesheet" href="/css/common/swiper.min.css">
		<link rel="stylesheet" href="/css/common/grid.css">
		<link rel="stylesheet" href="/css/common/main.css">
		<link rel="stylesheet" href="/css/common/app.css">
		<link href="https://webfontworld.github.io/gmarket/GmarketS0888ans.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/common/input-group.css">
		<link rel="stylesheet" href="/css/common/govImport.css">
		<script src="/js/main/jquery-3.6.4.min.js"></script>
		<script src="/js/main/slick.js"></script>
		<script src="/js/main/swiper.min.js"></script>
		<script src="/js/main/common.js"></script>
		<script src="/js/main/jquery.min.js"></script>
		<script src="/js/main/global.js"></script>
		
	</head>
    
    <script>    
    $(document).ready(function(){
    	
    	$('.post-wrapper').slick({
	   		slidesToShow : 1,        // 한 화면에 보여질 컨텐츠 개수
	        slidesToScroll : 1,        //스크롤 한번에 움직일 컨텐츠 개수
	        speed : 100,     // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
	        arrows : true,         // 옆으로 이동하는 화살표 표시 여부
	        dots : true,         // 스크롤바 아래 점으로 페이지네이션 여부
	        autoplay : true,            // 자동 스크롤 사용 여부
	        autoplaySpeed : 5000,         // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
	        pauseOnHover : true,        // 슬라이드 이동    시 마우스 호버하면 슬라이더 멈추게 설정
	        vertical : false,        // 세로 방향 슬라이드 옵션
	        prevArrow : '<button class="orbit-previous" aria-label="previous" title="이전 슬라이드"><span class="show-for-sr">Previous Slide</span>&#9664;</button>',        // 이전 화살표 모양 설정
	        nextArrow: '<button class="orbit-next" aria-label="next" title="다음 슬라이드"><span class="show-for-sr">Next Slide</span>&#9654;</button>',
	        dotsClass : "slick-dots",     //아래 나오는 페이지네이션(점) css class 지정
   		});
    	
    	$('.play').on('click', function() {
   		  $('.post-wrapper').slick('slickPlay');
   		});
   		$('.pause').on('click', function() {
   		  $('.post-wrapper').slick('slickPause');
   		});
    	
     	if ($('.medium-9').length > 1) {
     		$('#contents').remove();
     		$('.medium-9').eq(0).attr('id', 'contents');
     	}
    	
        var link = window.location.pathname; 
        if (link == '/') $('#headTitle').text('첫화면 | 광명도시공사');
        else if (link == '/user/conn/govSysInfo.do') {
            $('#headTitle').text('정보공개청구 안내 - 정보공개 | 광명도시공사');
        } 
        else if (link == '/user/conn/govSysNotInfo.do') {
            $('#headTitle').text('비공개정보 안내 - 정보공개 | 광명도시공사');
        } 
        else if (link == '/user/conn/goverMent.do') {
            $('#headTitle').text('공공데이터 개방 - 정보공개 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfIntro.do') {
            $('#headTitle').text('시설소개 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfFacil.do') {
            $('#headTitle').text('이용안내 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfPrice.do') {
            $('#headTitle').text('이용요금 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfTearms.do') {
            $('#headTitle').text('이용약관 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfAdress.do') {
            $('#headTitle').text('오시는길 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/golfReserve.do') {
            $('#headTitle').text('골프장 타석 현황 - 광명골프연습장 | 광명도시공사');
        } 
        else if (link == '/user/conn/centerIntro.do') {
            $('#headTitle').text('시설소개 - 국민체육센터 | 광명도시공사');
        } 
        else if (link == '/user/conn/centerUseInfo.do') {
          $('#headTitle').text('이용안내 - 국민체육센터 | 광명도시공사');
        }
        else if (link == '/user/conn/centerPrice.do') {
          $('#headTitle').text('이용요금 - 국민체육센터 | 광명도시공사');
        }
        else if (link == '/user/conn/centerProgram.do') {
          $('#headTitle').text('강사소개 - 국민체육센터 | 광명도시공사');
        }
        else if (link == '/user/conn/centerTerms.do') {
          $('#headTitle').text('이용약관 - 국민체육센터 | 광명도시공사');
        }
        else if (link == '/user/conn/centerAddr.do') { 
          $('#headTitle').text('오시는길 - 국민체육센터 | 광명도시공사');
        }
        else if (link == '/user/conn/pgIntro.do') { 
          $('#headTitle').text('시설소개 - 다목적 운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/pgUseInfo.do') { 
          $('#headTitle').text('이용안내 - 다목적 운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/pgPrice.do') { 
          $('#headTitle').text('이용요금 - 다목적 운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/pgTerms.do') { 
          $('#headTitle').text('시설소개 - 다목적 운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/pgAddr.do') { 
          $('#headTitle').text('시설소개 - 다목적 운동장 | 광명도시공사');
        } // 시민운동장
        else if (link == '/user/conn/cgIntro.do') { 
          $('#headTitle').text('시설소개 - 시민운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/cgUseInfo.do') { 
          $('#headTitle').text('이용안내 - 시민운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/cgPrice.do') { 
          $('#headTitle').text('이용요금 - 시민운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/cgTerms.do') { 
          $('#headTitle').text('시설소개 - 시민운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/cgAddr.do') { 
          $('#headTitle').text('시설소개 - 시민운동장 | 광명도시공사');
        }
        else if (link == '/user/conn/tennisIntro.do') { 
          $('#headTitle').text('시설소개 - 테니스장 | 광명도시공사');
        }
        else if (link == '/user/conn/tennisUseInfo.do') { 
          $('#headTitle').text('이용안내 - 테니스장 | 광명도시공사');
        }
        else if (link == '/user/conn/tennisPrice.do') { 
          $('#headTitle').text('이용요금 - 테니스장 | 광명도시공사');
        }
        else if (link == '/user/conn/tennisTerms.do ') { 
          $('#headTitle').text('이용약관 - 테니스장 | 광명도시공사');
        }
        else if (link == '/user/conn/tennisAddr.do') {
          $('#headTitle').text('오시는길 - 테니스장 | 광명도시공사');
        }
        else if (link == '/user/conn/baseballIntro.do') {
          $('#headTitle').text('시설소개 - 야구장 | 광명도시공사');
        }
        else if (link == '/user/conn/baseballUseInfo.do') {
          $('#headTitle').text('이용안내 - 야구장 | 광명도시공사');
        }
        else if (link == '/user/conn/baseballPrice.do') {
          $('#headTitle').text('이용요금 - 야구장 | 광명도시공사');
        }
        else if (link == '/user/conn/baseballTerms.do') {
          $('#headTitle').text('이용약관 - 야구장 | 광명도시공사');
        }
        else if (link == '/user/conn/baseballAddr.do') {
          $('#headTitle').text('오시는길 - 야구장 | 광명도시공사');
        }
        else if (link == '/user/conn/jokguIntro.do') {
          $('#headTitle').text('시설소개 - 축구장 | 광명도시공사');
        }
        else if (link == '/user/conn/jokguUseInfo.do') {
          $('#headTitle').text('이용안내 - 축구장 | 광명도시공사');
        }
        else if (link == '/user/conn/jokguPrice.do') {
          $('#headTitle').text('이용요금 - 축구장 | 광명도시공사');
        }
        else if (link == '/user/conn/jokguTerms.do') {
          $('#headTitle').text('이용약관 - 축구장 | 광명도시공사');
        }
        else if (link == '/user/conn/jokguAddr.do') {
          $('#headTitle').text('오시는길 - 축구장 | 광명도시공사');
        }
        else if (link == '/user/conn/gukgungIntro.do') {
          $('#headTitle').text('시설소개 - 국궁장 | 광명도시공사');
        }
        else if (link == '/user/conn/gukgungUseInfo.do') {
          $('#headTitle').text('이용안내 - 국궁장 | 광명도시공사');
        }
        else if (link == '/user/conn/gukgungPrice.do') {
          $('#headTitle').text('이용요금 - 국궁장 | 광명도시공사');
        }
        else if (link == '/user/conn/gukgungTerms.do') {
          $('#headTitle').text('이용약관 - 국궁장 | 광명도시공사');
        }
        else if (link == '/user/conn/gukgungAddr.do') {
          $('#headTitle').text('오시는길 - 국궁장 | 광명도시공사');
        }
        else if (link == '/user/conn/campIntro.do') {
          $('#headTitle').text('시설소개 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campUserInfo.do') {
          $('#headTitle').text('이용안내 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campPrice.do') {
          $('#headTitle').text('이용요금 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campTerms.do') {
          $('#headTitle').text('이용약관 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campTour.do') {
          $('#headTitle').text('주변관광지 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campAddr.do') {
          $('#headTitle').text('오시는길 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/campReserve.do') {
          $('#headTitle').text('캠핑장 예약현황 - 도덕산캠핑장 | 광명도시공사');
        }
        else if (link == '/user/conn/envUserInfo.do') {
          $('#headTitle').text('이용안내 - 종량제봉투 | 광명도시공사');
        }
        else if (link == '/user/conn/envPrice.do') {
          $('#headTitle').text('요금안내 - 종량제봉투 | 광명도시공사');
        }
        else if (link == '/user/conn/envAddr.do') {
          $('#headTitle').text('현장구매 - 종량제봉투 | 광명도시공사');
        }
        else if (link == '/user/conn/memoFaq.do') {
          $('#headTitle').text('시설안내 - 메모리얼파크 | 광명도시공사');
        }
        else if (link == '/user/conn/memoInfo.do') {
          $('#headTitle').text('이용안내 - 메모리얼파크 | 광명도시공사');
        }
        else if (link == '/user/conn/memoPrice.do') {
          $('#headTitle').text('이용요금 - 메모리얼파크 | 광명도시공사');
        }
        else if (link == '/user/conn/memoTerms.do') {
          $('#headTitle').text('이용약관 - 메모리얼파크 | 광명도시공사');
        }
        else if (link == '/user/conn/memoSearch.do') {
          $('#headTitle').text('고인찾기 - 메모리얼파크 | 광명도시공사');
        }   
        else if (link == '/user/conn/memoAddr.do') {
          $('#headTitle').text('오시는길 - 메모리얼파크 | 광명도시공사');
        }   
        else if (link == '/user/conn/hopeCarIntro.do') {
          $('#headTitle').text('시설소개 - 교통약자이동지원센터 | 광명도시공사');
        }   
        else if (link == '/user/conn/hopeCarGuide.do') {
          $('#headTitle').text('이용안내 - 교통약자이동지원센터 | 광명도시공사');
        }   
        else if (link == '/user/conn/hopeCarAddr.do') {
          $('#headTitle').text('오시는길 - 교통약자이동지원센터 | 광명도시공사');
        }   
        else if (link == '/user/conn/parkFacil.do') {
          $('#headTitle').text('시설소개 - 공영주차장 | 광명도시공사');
        }   
        else if (link == '/user/conn/parkPrice.do') {
          $('#headTitle').text('이용요금 - 공영주차장 | 광명도시공사');
        }   
        else if (link == '/user/conn/parkTerms.do') {
          $('#headTitle').text('이용약관 - 공영주차장 | 광명도시공사');
        }   
        else if (link == '/user/conn/parkPublic.do') {
          $('#headTitle').text('광명시 공영주차장 - 공영주차장 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveIntro.do') {
          $('#headTitle').text('시설소개 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveDigitalMap.do') {
          $('#headTitle').text('전자지도 - 광명동굴 | 광명도시공사');
        }   
/*         else if (link == '/user/conn/caveTreasure.do') {
          $('#headTitle').text('광명전시체험관`광명동굴보물탐험` - 광명동굴 | 광명도시공사');
        }    */
        else if (link == '/user/conn/caveRestaurant.do') {
          $('#headTitle').text('동굴카페 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveCafe.do') {
          $('#headTitle').text('푸드코트 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveWineSale.do') {
          $('#headTitle').text('와인판매대 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveOutdoorCafe.do') {
          $('#headTitle').text('카페 케이브 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveSouvenir.do') {
          $('#headTitle').text('기념품샵 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveElephantCar.do') {
          $('#headTitle').text('코끼리차 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveAddr.do') {
          $('#headTitle').text('오시는길 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveBorrow.do') {
          $('#headTitle').text('대관안내 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveBorrowFee.do') {
          $('#headTitle').text('대관료 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/caveBorrowDoc.do') {
          $('#headTitle').text('대관서식 - 광명동굴 | 광명도시공사');
        }   
        else if (link == '/user/conn/corpGreeting.do') {
          $('#headTitle').text('CEO 인사말 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpIntro.do') {
          $('#headTitle').text('설립배경 및 목적 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpHistory.do') {
          $('#headTitle').text('공사연혁 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpBusiness.do') {
          $('#headTitle').text('사업 및 현황 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpCi.do') {
          $('#headTitle').text('공사 CI - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpBpolicy.do') {
          $('#headTitle').text('전략체계 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpService.do') {
          $('#headTitle').text('우리의 다짐 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpOrgan.do') {
          $('#headTitle').text('조직안내 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/corpAdr.do') {
          $('#headTitle').text('오시는길 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/staffMall.do') {
          $('#headTitle').text('임직원몰 - 공사소개 | 광명도시공사');
        }    
        else if (link == '/user/conn/introterms.do') {
          $('#headTitle').text('이용약관 | 광명도시공사');
        }    
        else if (link == '/user/conn/introAuth.do') {
          $('#headTitle').text('본인인증안내 | 광명도시공사');
        }    
        else if (link == '/user/conn/introPrivacy.do') {
          $('#headTitle').text('개인정보 처리방침 | 광명도시공사');
        }    
        else if (link == '/user/conn/introEmail.do') {
          $('#headTitle').text('이메일 주소 무단수집거부 | 광명도시공사');
        }    
        else if (link == '/user/conn/sitemap.do') {
          $('#headTitle').text('사이트맵 | 광명도시공사');
        }    
        else if (link == '/user/login/login.do' || link == '/user/login/bsLogin.do') {
          $('#headTitle').text('로그인 | 광명도시공사');
        }    
        else if (link == '/user/login/jointermsPre.do') {
          $('#headTitle').text('이용약관동의 | 광명도시공사');
        }    
        else if (link == '/user/login/jointerms.do') {
          $('#headTitle').text('이용약관동의 | 광명도시공사');
        }    
        else if (link == '/user/login/joinselect.do') {
          $('#headTitle').text('회원가입 인증 | 광명도시공사');
        }    
        else if (link == '/user/login/join.do') {
          $('#headTitle').text('회원가입 입력 | 광명도시공사');
        }    
        else if (link == '/user/login/mypageId.do') {
          $('#headTitle').text('아이디 찾기 | 광명도시공사');
        }    
        else if (link == '/user/login/confirmId.do') {
          $('#headTitle').text('아이디 확인 | 광명도시공사');
        }    
        else if (link == '/user/login/mypagePw.do') {
          $('#headTitle').text('비밀번호 찾기 | 광명도시공사');
        }    
        else if (link == '/user/login/confirmCheckId.do') {
          $('#headTitle').text('비밀번호 입력 | 광명도시공사');
        }    
        else if (link == '/user/login/confirmPw.do') {
          $('#headTitle').text('비밀번호 변경 | 광명도시공사');
        }    
        else if (link == '/user/board/skBoardForm.do') {
            if (getParam('code') == 'BD_SK') $('#headTitle').text('하늘에 쓰는 편지 - 메모리얼파크 | 광명도시공사');
            else $('#headTitle').text('메모리얼파크 | 광명도시공사');
        }    
        else if (link == '/user/conn/centerCalendar.do') {
            if (getParam('code') == 'BD_DT_CT') $('#headTitle').text('일정알림 - 국민체육센터 | 광명도시공사');
            else $('#headTitle').text('국민체육센터 | 광명도시공사');
        }    
        else if (link == '/user/board/srBoardForm.do') {
            if (getParam('code') == 'BD_SR') $('#headTitle').text('사장에게 바란다 - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/csBoardForm.do') {
            if (getParam('code') == 'BD_CS') $('#headTitle').text('시민제안 - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/bsBoardForm.do') {
            if (getParam('code') == 'BD_BS') $('#headTitle').text('청렴신문고 - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/qaBoardForm.do') {
            if (getParam('code') == 'BD_QA') $('#headTitle').text('Q&A - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/prBoardForm.do') {
            if (getParam('code') == 'BD_PR') $('#headTitle').text('칭찬합니다 - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/juBoardForm.do') {
            if (getParam('code') == 'BD_JU') $('#headTitle').text('주민참여예산제 공모 - 시민광장 | 광명도시공사');
            else $('#headTitle').text('시민광장 | 광명도시공사');
        }    
        else if (link == '/user/board/boardView.do') {
            var title = $('.title').text();
            if (getParam('code') == 'BD_QA') $('#headTitle').text(title+'- 시민광장 | 광명도시공사') 
            else if (getParam('code') == 'BD_PR') $('#headTitle').text(title+'- 시민광장 | 광명도시공사'); 
            else if (getParam('code') == 'BD_JU') $('#headTitle').text(title+'- 시민광장 | 광명도시공사'); 
            else if (getParam('code') == 'BD_SR') $('#headTitle').text(title+'- 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_CS') $('#headTitle').text(title+'- 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_BS') $('#headTitle').text(title+'- 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_QA') $('#headTitle').text(title+'- 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_CJ') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_BJ') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_WZ') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_ED') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_CH') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_UD') $('#headTitle').text(title+'- 알림마당 | 광명도시공사'); 
            else if (getParam('code') == 'BD_MV') $('#headTitle').text(title+'- 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_NO') $('#headTitle').text(title+'- 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_NO_DG') $('#headTitle').text(title+'- 공지사항 | 광명도시공사'); 
            else if (getParam('code') == 'BD_NO_CP') $('#headTitle').text(title+'- 공지사항 | 광명도시공사'); 
            else if (getParam('code') == 'BD_BA') $('#headTitle').text(title+'- 정보공개 | 광명도시공사'); 
            else if (getParam('code') == 'BD_PM') $('#headTitle').text(title+'- 정보공개 | 광명도시공사');
            else if (getParam('code') == 'BD_BC') $('#headTitle').text(title+'- 정보공개 | 광명도시공사'); 
            else if (getParam('code') == 'BD_OT') $('#headTitle').text(title+'- 정보공개 | 광명도시공사'); 
            else if (getParam('code') == 'BD_HR') $('#headTitle').text(title+'- 국민체육센터 | 광명도시공사');
            else if (getParam('code') == 'BD_SK') $('#headTitle').text(title+'- 메모리얼파크 | 광명도시공사');
        }    
        else if (link == '/user/board/boardList.do') {
            if (getParam('code') == 'BD_BA') $('#headTitle').text('사전정보공표 목록 - 정보공개 | 광명도시공사');
            else if (getParam('code') == 'BD_PM') $('#headTitle').text('결재문서 공개 - 정보공개 | 광명도시공사');
            else if (getParam('code') == 'BD_BC') $('#headTitle').text('업무추진비 공개 - 정보공개 | 광명도시공사');
            else if (getParam('code') == 'BD_OT') $('#headTitle').text('공무국외출장 - 정보공개 | 광명도시공사');
            else if (getParam('code') == 'BD_HR') $('#headTitle').text('건강생활 - 국민체육센터 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_GF') $('#headTitle').text('자주하는질문- 광명골프연습장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_CT') $('#headTitle').text('자주하는질문 - 국민체육센터 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_PG') $('#headTitle').text('시설소개 - 다목적 운동장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_TS') $('#headTitle').text('자주하는질문 - 테니스장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_BB') $('#headTitle').text('자주하는질문 - 야구장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_JG') $('#headTitle').text('자주하는질문 - 축구장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_GG') $('#headTitle').text('자주하는질문 - 국궁장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_CP') $('#headTitle').text('자주하는질문 - 도덕산캠핑장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_JB') $('#headTitle').text('자주하는질문 - 종량제봉투 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_MP') $('#headTitle').text('자주하는질문 - 메모리얼파크 | 광명도시공사');
            else if (getParam('code') == 'BD_SK') $('#headTitle').text('하늘에 쓰는 편지 - 메모리얼파크 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_HC') $('#headTitle').text('자주하는질문 - 교통약자이동지원센터 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_PK') $('#headTitle').text('자주하는질문 - 공영주차장 | 광명도시공사');
            else if (getParam('code') == 'BD_FQ_DG') $('#headTitle').text('자주하는질문 - 광명동굴 | 광명도시공사');
            else if (getParam('code') == 'BD_SR') $('#headTitle').text('사장에게 바란다 - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_CS') $('#headTitle').text('시민제안 - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_BS') $('#headTitle').text('청렴신문고 - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_QA') $('#headTitle').text('Q&A - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_PR') $('#headTitle').text('칭찬합니다 - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_JU') $('#headTitle').text('주민참여예산제 공모 - 시민광장 | 광명도시공사');
            else if (getParam('code') == 'BD_NO') $('#headTitle').text('공지사항 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_CJ') $('#headTitle').text('채용정보 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_BJ') $('#headTitle').text('보도자료 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_WZ') $('#headTitle').text('웹진 「GMUC잇다」 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_ED') $('#headTitle').text('해명자료 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_CH') $('#headTitle').text('사회공헌/공사활동 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_UD') $('#headTitle').text('광명동굴주변도시개발사업 - 알림마당 | 광명도시공사');
            else if (getParam('code') == 'BD_MV') $('#headTitle').text('홍보동영상 - 알림마당 | 광명도시공사');
        } 

        $('a').each(function() {
        	var t = $(this).attr('target')||'';
        	if (t.includes("_blank")){
	            $(this).attr('title', '새 창 알림 ');
        	}
        });
        
    });

    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            temp = params[i].split("=");
            if ([temp[0]] == sname) { sval = temp[1]; }
        }
        return sval;
    }
    
</script>
<body>
<style>

#skipNav{position:relative;z-index:9999;} #skipNav a{position: absolute; top: -200px; left:0; width: 100%; line-height: 30px; border: 1px solid #dedede; background-color: #333;color:#fff;} #skipNav a:focus, #skipNav a:active{top: 0;}

</style>
<div id="skipNav"> <a href="#contents" tabindex="1">본문 바로가기</a></div>


    




<header>
  <div class="header-top">
    <div class="container">
      <div class="header-top-left">
        <ul>
          <img src="/images/common/icon-flag.png">
          <li>&nbsp;이 누리집은 대한민국 공식 전자정부 누리집입니다. </li>
        </ul>
      </div>
      <div class="header-top-right">
        <div class="header-top-right-cate">
          <ul>
          	
	            <li><a href="/user/login/login.do">로그인</a></li>
	            <li><a href="/user/login/jointermsPre.do">회원가입</a></li>
	            <li><a href="/user/conn/sitemap.do">사이트맵</a></li>
            
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-main-logo">
        <h1><a href="/"><img src="/images/main/logo.png"></a></h1>
      </div>
      	<div class="header-main-cate" id="mainNavi">
      	<ul>
	      	<li v-for="(row, idx) in list">
	      		<a id="mainTopMenu" :href="row.href" v-html="row.title" :target="row.target" :class="isCurrent(row) ? '':'on'"></a>
	      		
	      		<div class="depth">
	      			<dl>
	      				<dd v-for="(sub, subIdx) in row.subs"><a v-bind:href="sub.href" v-html="sub.title" v-bind:target="sub.target"></a></dd>
	      			</dl>
	      		</div>
	      	</li>
        </ul>
      </div>
      <div class="header-main-menu"> <a href="javascript:;" onClick="menuOpen();">메뉴바</a> </div>
    </div>
  </div>
  <div id="subNaviMobile" class="header-mobile">
    <div class="inner">
      <div class="mobile-head">
        <h2><img src="/images/main/logo.png"></h2>
        <a href="javascript:;" onClick="menuClose();">닫기</a> </div>
      <div class="mobile-body">
        <ul>
          <li v-for="(row, idx) in list">
	      		<a id="mainTopMenu" v-html="row.title" :target="row.target" :class="isCurrent(row) ? '':'on'"></a>
	      		<div class="depth">
	      			<dl>
	      				<dd v-for="(sub, subIdx) in row.subs"><a v-bind:href="sub.href" v-html="sub.title" v-bind:target="sub.target" ></a></dd>
	      			</dl>
	      		</div>
	      	</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script>
$(function() {
	var sitemap = new gmuc.Sitemap();
});
</script>


<script>
/************** Foundation 시작  **************/  
$(document).ready(function() {
	$("#subNaviMobile").foundation();
	
    // h1 > small  두 줄로 나올 때 줄바꿈처리 
    if($("h1 > small").height() > 20){
    	$("h1 > small").css("display", "table-row"); 
    	$("h1 > small").css("margin-top", "0.5rem"); 
    }
})

Foundation.addToJquery($);
$('main').foundation();

/************** Foundation 종료  **************/

	var sitemap = new gmuc.Sitemap();
	var subNaviMobile = new Vue({
	  el: '#subNaviMobile',
	  data: {
	    list: sitemap.getList(),
	    current: sitemap.current
	  },
	  methods: {
	    isCurrent: function(target) {
	      return this.current.indexOf( target ) > 0;
	    }
	  }
	});
	
	/*
	var personalNaviMobile = new Vue({
	  el: '#personalNaviMobile',
	  data: {
	    list: sitemap.getList(8),
	    current: sitemap.current
	  },
	  methods: {
	    isCurrent: function(target) {
	      return this.current.indexOf( target ) > 0;
	    }
	  }
	});
	*/
	
	$('#btnPersonalNavi').click( function() {
		$('#subNaviMobile').css("display", "none");
		
		var loginCheck = "";
		if(loginCheck == ""){
			 location.href = "/user/login/login.do";
		}else{
// 			$('#personalNaviMobile').toggle();
			if(confirm("로그아웃 하시겠습니까?")){
				location.href = "/user/login/userLogout.do";
			}
		}
		return false;
	});
	
	$('#subNaviMobile > ul > li > a').click( function() {
		if($(this).parent().children("ul").css("display") == "none"){
			$(this).parent().children("ul").css("display", "block");
			$(".firstSubNavi").css("display", "none");
		}
		
		if($(this).text() == "마이페이지"){
			$(this).parent().children().find("li").css("margin-top", "-1px");
		}
		
	});
	
	$('#btnMenuNavi').click( function() {
		
		$('#subNaviMobile').toggle();
		return false;
	});
	
</script>

<script>
//<![CDATA[

/****************** mainNavi *********************/
var sitemap = new gmuc.Sitemap();
var mainNavi = new Vue({
  el: '#mainNavi',
  data: {
    list: sitemap.getMainList(),
    current: sitemap.current,
    sumIdx: 0
  },
  methods: {
    mouseEnter: function() {
    	$('#mainNavi .subMenu').fadeIn(100);
   	},
    mouseLeave: function() { 
    	$('#mainNavi .subMenu').fadeOut(100);
   	},
    
    isCurrent: function(target) {
        return this.current.indexOf( target ) < 0;
    },
    isTabIndex: function(idx, list) {
    	var sum = 12;
    	for (var i=0; i < idx; i++) {
    		sum += list[i].subs.length;
    	}
    	return idx+sum+1;
  	},
    isSubTabIndex: function(idx, subIdx, list) {
    	var sum = 12;
    	for (var i=0; i < idx; i++) {
    		sum += list[i].subs.length;
    	}
    	return idx+subIdx+sum+2;
  	}
  }
});
/*
var mainSubMenu = new Vue({
  el: '.subMenu',
  data: {
    list: sitemap.getList()
  }
});


var logoNNotice = new Vue({
	el: '.logoNNotice',
	data: {
		list: []
	},
	methods: {
		headerBoardClick : function (code, seq) {
	      location.href ="/user/board/boardView.do?code="+code+"&seq="+seq;
	    }
	},
	mounted: function() {
		var me = this;
		var _data = {code: "BD_NO", recordCountPerPage: "1"};
		$.ajax({
			url: "/user/mainBoardList.do",
			data: _data,
			datatype: "json",
			success: function(result) {
				var rList = result.dataList[0];
				me.list.push({
					seq: rList.SEQ
					, code : rList.BOARD_CODE
					, title : rList.TITLE.replace(/&amp;/gi, "&").replace(/&#35;/gi, "#").replace(/&lt;/gi, "<").replace(/&gt;/gi, ">").replace(/&quot;/gi, '"').replace(/&#39;/gi, "'").replace(/&#37;/gi, '%').replace(/&#40;/gi, '(').replace(/&#41;/gi, ')').replace(/&#43;/gi, '+').replace(/&#47;/gi, '/').replace(/&#46;/gi, '.').replace(/&#33;/g, "!").replace(/&#42;/g, "*")
				});
			}
		});
	}
});
*/
//]]>
</script>
<!-- 
<script>
$(document).ready(function() {
	$('.test').each(function() {
		$(this).blur(function() {
			if ($(this).attr('tabIndex') == '72') {
				$('#mainNavi .subMenu').fadeOut(100);
			}
				
		})
	})	 
	 
	var zoomLevel = Number(sessionStorage.getItem('zoomLevel')) || 1;
	
	var initZoom = function(zoom) {
		$('body').css({ zoom: zoomLevel, '-moz-transform': 'scale(' + zoomLevel + ')' });
		$('#zoomText').text((zoomLevel * 100).toFixed(0) + '%');
	}

	initZoom();
	
	$('#zoomOut').click(function(){
		if (zoomLevel.toFixed(1) * 100 > 80) updateZoom(-0.1);
		else alert('축소는 80% 까지만 가능합니다');
	});
	
	$('#zoomIn').click(function() {
		if (zoomLevel.toFixed(1) * 100 < 140) updateZoom(0.1);
		else alert('확대는 140% 까지만 가능합니다');
	});
	
	var updateZoom = function(zoom) {
	   	zoomLevel += zoom;
	   	$('body').css({ zoom: zoomLevel, '-moz-transform': 'scale(' + zoomLevel + ')' });
		$('#zoomText').text((zoomLevel * 100).toFixed(0) + '%');
		
		sessionStorage.removeItem("zoomLevel");
		sessionStorage.setItem('zoomLevel', zoomLevel);
	}
});
</script>
 -->



<aside id="topSubMenu">
	<div id="navigator">
		<ul>
			<li class="d0"><a href="/"><img src="../../images/layout/icon_home.png"></a></li>
			<li class="d01"><a v-html="">{{ title1 }}</a>
				<ul>
					<li v-for="(row, i) in getList.slice(0, getList.length -2)"> <!-- 이용안내, 마이페이지 제외 -->
						<a :href="row.href" v-html="row.title"></a>
					</li>	
				</ul>
			</li>
			<li class="d02" v-for="(row, idx) in filteredList.slice(0, 1)"><a v-html="">{{ filter() }} {{ setDepth1(row.title) }} {{ title2 }}</a>
				<ul>
					<li v-for="(sub, i) in row.subs" >
					<a :href="sub.href" v-html="sub.title"></a>
					</li> 
				</ul>
			</li>
			<li class="d03" v-for="(row, idx) in current.slice(1, 2)"><a v-html="">{{ setDepth2(row.title) }} {{ title3 }}</a>
				<ul>
					<li v-for="(sub, i) in row.subs" >
					<a :href="sub.href" v-html="sub.title" :target="sub.target" :class="isCurrent(sub) ? 'on':''"></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>


<script>
//<![CDATA[
var sitemap = new gmuc.Sitemap();
var subMenu = new Vue({
  el: '#topSubMenu',
  data: {
	session: true, 
    title: sitemap.getSubTitle(),
    list: sitemap.getSubMenu(),
    current: sitemap.current,
    getList: sitemap.getList(),
    getSub : sitemap.getSub(),
    title1: "",
    title2: "",
    title3: "",
    filteredList: sitemap.current,
  },
  methods: {
    isCurrent: function(target) {
    	if(this.current.indexOf( target ) > 0) {
    		this.title3 = target.title;
    	}
      return this.current.indexOf( target ) > 0;
    },
    setDepth1: function(title) {
  	  this.title1 = title;
    },
    setDepth2: function(title) {
    	this.title2 = title.replace(/<br\s*\/?>/gi, '\n'); // 이용안내 > 개인정보 처리방침 /<br /> 영상정보처리기기 운영방침에서 사용
    },
    setDepth3: function(title) {
    	this.title3 = title;
    },
    filter: function() {
    	if ('' == '') {
	    	const filtered = this.current.map(item => ({
	    		  ...item,
	    		  subs: (item.subs || []).filter(sub => sub.loginStatus !== true )
	    		}));
	    	this.filteredList = filtered;
    	}
    }
  }
});

//]]>
</script>

<main>
<div class="grid-container" style="min-height: 624px;">
	<div class="grid-x grid-padding-x">
		<div class="medium-3 cell"></div>
		<div class="medium-9 cell">
			<nav id='locationNavi' class='breadcrumbs' style="display:none">
				<ul>
					<li><a href='/'><img src="/images/img/img_location_home.gif" alt="홈으로 이동"/></a></li>
					<li v-for="row in list"><a v-bind:href='row.href' v-html="row.title">문화 • 체육</a></li>
				</ul>
			</nav>
			<script>
				//<![CDATA[
				var locationNavi = new Vue({
					el: '#locationNavi',
					data: {
							list: sitemap.getCurrent()
					}
				});
				//]]>
			</script>
			
			<article class="culture">
				

<h1>광명골프연습장<small>Golf Training Ground</small></h1>
<!--<h3><font color="red"> ※ 개보수공사로 인한 임시 휴장</br>&emsp;2026. 3. 3.(화) 재개장 예정</br>&emsp;공사 관련 문의 (광명도시공사 건설사업팀 02-2610-2074)</font></h3>-->
<h2>시설소개</h2>

<h3>비거리 200야드, 총 78개 타석과 함께 다양한 부대 시설을 갖춘 골프연습장입니다.</h3>
<h4>해당 시설은 방문예약만 가능하며, 예약 문의는 광명도시공사 골프연습장(02-2610-7340)으로 전화주시기 바랍니다.</h4>

<h5>시설현황</h5>

<table class='view'>
<caption class="dipy_n">광명골프연습장 시설현황-구분,주요시설</caption>
  <thead>
    <tr>
      <th colspan="2">구분</th>
      <th>주요시설</th>
    </tr>
  </thead>
  <tbody>
   <!-- <tr>
      <td colspan="2">옥상</td>
      <td>벙커장,퍼팅장</td>
    </tr>-->
    <tr>
      <td>지상 3층</td>
      <td>타석 26</td>
      <td>사무실, 스크린골프장</td>
    </tr>
    <tr>
      <td>지상 2층</td>
      <td>타석 26</td>
      <td>안내실, 락카실, 골프용품점</td>
    </tr>
    <tr>
      <td>지상 1층</td>
      <td>타석 26</td>
      <td>샤워실, 체력단련실, 퍼팅장</td>
    </tr>				 					
  </tbody>
</table>
  
<section class='imageBoard'>
	<p>타석</p>
	<p>로비</p>
<!--	<p>옥상 벙커장</p>-->
	<p><img src="/images/sub/golf_01.png" alt="타석 사진"></p>
	<p><img src="/images/sub/golf_03.png" alt="로비 사진"></p>
<!--	<p><img src="/images/sub/golf_08.png" alt="옥상벙커장 사진"></p>-->
</section>
  
<section class='imageBoard'>
	<p>퍼팅장</p>
	<p>샤워실</p>
	<p><img src="/images/sub/golf_04.png" alt="퍼팅장 사진"></p>
	<p><img src="/images/sub/golf_05.png" alt="사우나 사진"></p>
</section>
  
<section class='imageBoard'>
	
	<p>체력단련실</p>
	<p>락카</p>
	<p><img src="/images/sub/golf_06.png" alt="체력단련실 사진"></p>
	<p><img src="/images/sub/golf_09.png" alt="락카 사진"></p>
</section>
  
<section class='imageBoard'>
	
	<p>스크린골프장</p>
	<p>골프용품점</p>
	<p><img src="/images/sub/golf_02.png" alt="스크린골프장 사진"></p>
	<p><img src="/images/sub/golf_07.png" alt="골프용품점"></p>
</section>
  
<section class='imageBoard'>
	
	
</section>

<h5>부대시설 운영시간</h5>

<table class='view'>
<caption class="dipy_n">광명골프연습장 부대시설 운영시간-층별,부대설명,운영시간,부대시설 현황</caption>
  <thead>
   <tr>
      <th style="width:10%">층별</th>
      <th style="width:25%">부대시설명</th>
      <th style="width:40%" colspan="2">운영시간</th>
      <th style="width:25%">부대시설 현황</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="4">2층</td>
      <td rowspan="4">골프용품점<br /><br />02-6952-0333</td>
      <td>하절기 평일</td>
      <td>10:00 ~ 20:00</td>
      <td rowspan="4"  class="align_07" style="border-left:1px solid #d0cbbb;">골프용품 판매</td>
    </tr>
    <tr>
      <td>동절기 평일</td>
      <td>10:00 ~ 20:00</td>
    </tr>
    <tr>
      <td>주말 및 공휴일</td>
      <td>10:00 ~ 20:00</td>
    </tr>
    <tr>
      <td>휴장일</td>
      <td>휴점</td>
    </tr>
    <tr>
      <td rowspan="3">3층</td>
      <!-- <td rowspan="3">광명24시 골프존<br /><br />(스크린 골프장)<br /><br />02-899-7050<br />02-2682-3333</td> -->
      <td rowspan="3">골프존 스크린골프</td>
      <td>평일</td>
      <!-- <td>골프연습장 운영시간 내 (전화문의)</td> -->
      <td rowspan="3">문의<br /> 02-899-7050</td>
      <!-- <td rowspan="3"  class="align_07" style="border-left:1px solid #d0cbbb;">비전플러스 신형 설치<br /><br />타석룸 5개실<br />(4인실, 8인실)</td> -->
      <td rowspan="3"  class="align_07" style="border-left:1px solid #d0cbbb;"></td>
    </tr>
    <tr>
      <td>주말 및 공휴일</td>
      <!--<td>골프연습장 운영시간 내 (전화문의)</td> -->
    </tr>
    <tr>
      <td>휴장일</td>
      <!-- <td>운영시간과 동일</td> -->
    </tr>
  </tbody>
</table>

<p>※ 부대시설 운영시간은 해당 시설 사정에 의해 변경될 수 있습니다.</p>

<section class="phoneContact">
	<a href="tel:0226107340">
		<img src="/images/sub/icon_phone.png" alt="" />
		<p>이용문의 : 02-2610-7340</p>
	</a>
</section>
			</article>
		</div>
	</div>
</div>
</main>


<!-- <script type="text/javascript" src="https://www.eprivacy.or.kr/seal/mark.js"></script> -->
<script>

$(document).ready(function(){
	//메인,임직원몰  만족도평가 제거
	if(window.location.pathname == "/user/main/main.do" || window.location.pathname.indexOf('/user/login') == 0 || window.location.pathname == '/'
			||window.location.pathname == "/user/conn/staffMall.do"){
		$("#satisfyForm").hide();
	}else{
		$("#satisfyForm").show();
	}
});

function satisfySubmit(){
	var score = $('input[name="score"]:checked').val();
	var menuId = window.location.pathname;
	//code값이 있을경우 url에 달아준다
	if(getParameters('code')!=''&&getParameters('code')!=null){
		menuId = menuId+'?code='+getParameters('code');
	}
	var dataSet = {
			score : score,
			menuId : menuId
		};
	$.ajax({
   		type: "post",
   		async: true,
   		url: "/user/board/satisfy.do",
   		data: dataSet,
   		datatype: "json",
   		success: function(data) {
   			if(data.result.length>0) {
   				if(data.result.split("|")[0]=="1"){
   					alert(data.result.split("|")[1]);		
   				}else{
   					alert(data.result.split("|")[1]);
   				}
   			}
   			
   		}
	});
}

//파라미터 값 확인
var getParameters = function (paramName) { 
	// 리턴값을 위한 변수 선언 
	var returnValue; 
	// 현재 URL 가져오기 
	var url = location.href; 
	// get 파라미터 값을 가져올 수 있는 ? 를 기점으로 slice 한 후 split 으로 나눔
	var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&'); 
	// 나누어진 값의 비교를 통해 paramName 으로 요청된 데이터의 값만 return 
	for (var i = 0; i < parameters.length; i++) { 
		var varName = parameters[i].split('=')[0]; 
		if (varName.toUpperCase() == paramName.toUpperCase()) { 
			returnValue = parameters[i].split('=')[1]; 
			return decodeURIComponent(returnValue); 
		} 
	} 
};
	
function fn_goRelatedSite() {
	var url = $("#relatedSite").val();
	var type = $("#relatedSite option:selected").attr("target");
	console.log(url);
	
	console.log(url == "");
	if (url != "") {
		if (type === '_blank') {
			window.open(url);
		} else {
			location.href = url;	
		}	
	}
}

</script>
<div class="grid-container" style="margin-top: 2rem;">
	<div class="grid-x grid-padding-x">
		<div class="medium-3 cell"></div>
			<div class="medium-9 cell">
			<div id="satisfyForm" class="note_box" style="display: none;">
				<form id="satisfy" name="satisfy" method="post">
					<table class="view">
					<caption class="dipy_n">만족도  | 지금 보고 계시는 화면의 정보와 사용 편의성에 만족하십니까?</caption>
						<tbody>
						<tr>
							<th>만족도  | 지금 보고 계시는 화면의 정보와 사용 편의성에 만족하십니까?</th>
						</tr>
						<tr>	
							<td>
								<input type="radio" id="val5" name="score" value="5" checked="checked"><label for="val5">매우만족</label>
								<input type="radio" id="val4" name="score" value="4"><label for="val4">만족</label>
								<input type="radio" id="val3" name="score" value="3"><label for="val3">보통</label>
								<input type="radio" id="val2" name="score" value="2"><label for="val2">불만족</label>
								<input type="radio" id="val1" name="score" value="1"><label for="val1">매우불만족</label>
								<a class="btn_w" href="javascript:satisfySubmit();">제출</a>
							</td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<footer id="footer">
  <div class="ft-top">
    <div class="inner">
      <ul class="menu">
        <li><a href="/user/conn/corpGreeting.do" class="hands">공사소개</a></li>
        <li><a href="/user/conn/corpAdr.do" class="hands">오시는길</a></li>
        <li><a href="/user/conn/introterms.do" class="hands">이용약관</a></li>
        <li><a href="/user/conn/introPrivacy.do" class="hands" style="font-size: 1.8rem; color: #9ecce0;">개인정보처리방침</a></li>
        <li><a href="/user/conn/corpOrgan.do" class="hands">사업장전화번호</a></li>
        <!-- <li><a href="/user/conn/staffMall.do" class="hands">임직원몰</a></li>  -->
      </ul>
  </div>
  <div class="ft-btm">
    <div class="inner">
      <div class="ft-content">
        <address>
        <div class="row">
          <div class="dis-ib">경기도 광명시 하안로 287 3층 Tel:02)2610-7300</div>
        </div>
        </address>
        <div class="logo"><img src="/images/user/footer/img_logo_footer.png" alt="광명도시공사"></div>
        <p class="copyright"> Copyright(c) 2019 광명도시공사 All Rights Reserved</p>
      </div>
      
      <div class="ft-sns"> 
      <img class='symbol' src="https://www.eprivacy.or.kr/images/mng/sub/mark1_eprivacy.png" style="height: 30px; cursor:pointer;" title="eprivacy 인증마크" onclick="window.open('https://www.eprivacy.or.kr/front/certifiedSiteMark/certifiedSiteMarkPopup.do?certCmd=E&certNum=2025-E-R034','seal','width=527,height=720,location=no,status=no,scrollbars=no')" />
      <a href="https://www.facebook.com/HappyGMUC" class="snsicons" target="_blank" title="새창열림"> <img src="/images/user/footer/icon_sns_f@3x.png" alt="페이스북"> </a> 
      <a href="https://www.youtube.com/channel/UCULWPaAfCargV3d9iLe6Hcw" class="snsicons" target="_blank" title="새창열림"> <img src="/images/user/footer/icon_sns_y@3x.png" alt="유튜브"> </a> </div>
    </div>
  </div>
</footer>

<!-- 
<footer id="footer">
  <div class="ft-top">
    <div class="inner">
      <ul class="menu">

		<li><a class="hands" href="/user/conn/corpGreeting.do">공사소개</a></li>
		<li><a class="hands" href="/user/conn/corpAdr.do">오시는길</a></li>
		<li><a class="hands" href="/user/conn/introterms.do">이용약관</a></li>
		<li><a class="hands col-white" href="/user/conn/introPrivacy.do">개인정보처리방침</a></li>
		<li><a class="hands" href="/user/conn/corpOrgan.do">사업장 전화번호</a></li>
		<li><a href="/user/conn/staffMall.do" >임직원몰</a></li>
      </ul>
      <div class="family-site">
        <label for="relatedSite" class="hide">관련사이트</label>
        <select id="relatedSite" class="select" title="관련사이트 새 창 열림">
          <option value="">관련사이트</option>
          <option value="https://www.cleaneye.go.kr/user/empGongsiData.do?entId=2015000005&entName=%EA%B4%91%EB%AA%85%EB%8F%84%EC%8B%9C%EA%B3%B5%EC%82%AC" target="_blank">클린아이</option>
          <option value="https://job.cleaneye.go.kr/" target="_blank">클린아이 잡플러스</option>
          <option value="https://www.g2b.go.kr/link/FIUA006_01/single/?untySrchSeCd=DD&rowCnt=&instCd=B553783&demaInstNm=&hghrkInstCd=&prcmMthoSeCd=&frcpYn=N&laseYn=N&rsrvYn=N&chkInstCd=&urlSrchSeCd=instCd&demaInstCd=IN0100000082464&prcmMaagSeCd=" target="_blank">조달청</option>
          <option value="https://www.gm.go.kr/pt/index.do" target="_blank">광명시청</option>
          <option value="https://gmyouth.or.kr/www/index.do" target="_blank">광명시청소년재단</option>
          <option value="https://www.gmcf.or.kr/Main/Index" target="_blank">광명문화재단</option>
        </select>
        <a href="javascript:void(0)" class="btn hands" title="새 창 열림" onClick="fn_goRelatedSite()"><span>GO</span></a> </div>
    </div>
  </div>
  <div class="ft-btm">
    <div class="inner">
      <div class="ft-content">
        <address>
        <div class="row">
          <div class="dis-ib">경기도 광명시 하안로 287 3층 Tel:02)2610-7300</div>
        </div>
        </address>
        <div class="logo"><img src="/images/user/footer/img_logo_footer.png" alt="광명도시공사"></div>
        <p class="copyright"> Copyright(c) 2019 광명도시공사 All Rights Reserved</p>
      </div>
      <div class="ft-sns"> <a href="https://www.facebook.com/HappyGMUC" class="snsicons" target="_blank" title="새창열림"> <img src="/images/user/footer/icon_sns_f@3x.png" alt="페이스북"> </a> 
      <a href="https://www.youtube.com/channel/UCULWPaAfCargV3d9iLe6Hcw" class="snsicons" target="_blank" title="새창열림"> <img src="/images/user/footer/icon_sns_y@3x.png" alt="유튜브"> </a> </div>
    </div>
  </div>
</footer>
-->
<script src="/js/main/swiper.js"></script>

<!-- 	공단 요청 네이버 분석 도구 추가 (2016.10.07) -->
<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
<script>
// var h1 = $("#locationNavi ul").children().last("li").find("a").text();
// var h2 = $("#locationNavi ul").children().last("li").prev('li').find("a").text(); 
// $("#h1").text(h1);
// $("#h2").text(h2);

//<![CDATA[
// 공단 요청 네이버 분석 도구 추가 (2016.10.07)
if(!wcs_add) var wcs_add = {};
// wcs_add["wa"] = "12af3c5bc4ed6e8";
wcs_add["wa"] = "d70ff724f53828";
wcs_do();

//]]>

</script>

